<h1>Help: How to share RSS on Twitter</h1>

<h3>1. Connect Twitter account</h3>
<p>
Click on "Sign In with Twitter" link or button to start.
</p>
<p> 
<a class="btn btn-success" href="/twitter/connect" target="_blank" role="button">Sign in with Twitter</a>
</p>
<br />
<p>
Authorize <b>rsstw.it</b> application. We need permission to post tweets on your timeline.
</p>
<p>
<img src="/img/help/permission.png" alt="Permission" width="600" class="thumbnail">
</p>
<p>
You will be redirected back to the application.
</p>
<p>
<img src="/img/help/feeds.png" alt="RSS Feeds" width="600" class="thumbnail">
</p>

<h3>2. Add RSS feed</h3>
<p>
Click on "Add RSS feed" button to create new RSS feed.
</p>
<p>
<img src="/img/help/add_feed.png" alt="Add RSS Feed" width="600" class="thumbnail">
</p>
<p>
Enter RSS feed URL and choose Update Interval from 1 hour to 24 hours.
</p>
<p>
<img src="/img/help/add_feed_save.png" alt="RSS Feed URL" width="600" class="thumbnail">
</p>
<p>
Now your feed is ready.
</p>
<p>
<img src="/img/help/feed_ready.png" alt="RSS Feed is ready" width="600" class="thumbnail">
</p>

<h3>3. Check your tweets</h3>
<p>
To see the list of last tweets go to Report section.
</p>
<p>
<img src="/img/help/report.png" alt="Report" width="600" class="thumbnail">
</p>
<p>
New tweet is posted on your Twitter timeline.
</p>
<p>
<img src="/img/help/tweet.png" alt="Tweet" width="600" class="thumbnail">
</p>