<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>$pageTitle - rsstw.it</title>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/r2t.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					
					#if($session.isNotAuthenticated())
					<li role="presentation" #if($page=='welcome')class="active"#end>
						<a href="/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Welcome</a>
					</li>
					<li>
						<a href="/twitter/connect">@ Sign in with Twitter</a>
					</li>
					#end
					#if(!$session.isNotAuthenticated())
					<li role="presentation" #if($page=='profile')class="active"#end>
						<a href="/profile">@ $session.screenName</a>
					</li>
					<li role="presentation" #if($page=='report')class="active"#end>
						<a href="/report"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Report</a>
					</li>
					#end
					<li role="presentation" #if($page=='help')class="active"#end>
						<a href="/help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a>
					</li>
					#if(!$session.isNotAuthenticated())
					<li role="presentation">
						<a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
					</li>
					#end
				</ul>
			</nav>
			<h3>
			<img src="/img/rss_big.png" width="32">
			<img src="/img/twitter_big.png" width="32">
			<small>rsstw.it - share RSS on Twitter</small>
			</h3>
		</div>
		<div class="app-content">$screen_content</div>
		<footer class="footer">
			<p>&copy; <a href="http://rsstw.it">rsstw.it</a> 2015</p>
		</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/r2t.js"></script>
</body>
</html>