<div class="jumbotron">
	<h1>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Welcome
	</h1>
	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas
		eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
		condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p>
		<a class="btn btn-lg btn-success" href="/twitter/connect" role="button">Login with Twitter account</a>
		<a class="btn btn-lg btn-primary" href="/help" role="button">Learn more</a>
	</p>
</div>
